EJ4/gestoria_con_dtd.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Gestoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Sede" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Codigo" type="xs:string"/>
              <xs:element name="Direccion" type="xs:string" minOccurs="0"/>
              <xs:element name="DepartamentoEntrada" type="xs:string"/>
              <xs:element name="DepartamentoGestionClientes" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="Codigo" type="xs:string" use="required"/>
            <xs:attribute name="EmpleadoAlta" type="xs:string" use="required"/>
            <xs:attribute name="FechaAlta" type="xs:date" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Cliente" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Codigo" type="xs:string"/>
              <xs:element name="Descripcion" type="xs:string" minOccurs="0"/>
              <xs:element name="NumeroViviendas" type="xs:integer"/>
              <xs:element name="CosteVivienda" type="xs:decimal"/>
              <xs:element name="Resumen" type="xs:string"/>
              <xs:element name="PlazoAlta" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="Codigo" type="xs:string" use="required"/>
            <xs:attribute name="Descripcion" type="xs:string"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
