EJ1/biblioteca2.dtd

<!ELEMENT coleccion (cancion+)>

<!ELEMENT cancion (titulo, desarrollador, genero, plataforma, año, calificacion)>
<!ATTLIST cancion>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT genero (#PCDATA)>
<!ELEMENT plataforma (#PCDATA)>
<!ELEMENT año (#PCDATA)>
<!ELEMENT calificacion (#PCDATA)>